<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
        <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/goodsdetail.css">
    <title>商品详情</title>
</head>

<body>
    <div class="header" id="page-header">
        <div class="header-bar">
            <button type="button" class="iconfont icon-right public-back"></button>
            <span class="page-title">商品详情</span>
        </div>
    </div>

    <div class="wrapper">
        <div class="main">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="goods-info">
                <div class="promotion">
                 
                </div>
                <div class="goods-desc">

                </div>

                <div class="service" id="show-service">
                    <p>全国包邮 · 7天无理由退货 · 货到付款</p>
                    <i class="iconfont icon-right"></i>
                </div>

                <div class="goods-comments">
                    <div class="head" href="./goods-comment.html">
                        <div class="title">商品评价(1.6万)</div>
                        <div class="to-comment-list">查看更多<i class="iconfont icon-right"></i></div>
                    </div>
                    <div class="content">
                        <div class="content-item">
                            <div class="avatar">
                                <img src="../temp-images/avatar.jpg" alt="">
                                <span class="name">极简</span>
                            </div>
                            <div class="comment">
                                宝贝很满意，顺丰的小哥也给力，两天就到了带着挺有感觉的，很有派非常不错的机械表，时尚大方。推荐大家购买。款式很潮质量也不错客服态度很好快递也快赞一个很不错高档大方，物流快！
                            </div>
                        </div>
                    </div>
                </div>

                <div class="goods-detail">
                    <div class="title"><i class="iconfont icon-sanjiaoxing"></i>商品详情</div>
                    <div class="goods-value">
                        <ul class="value-list">

                        </ul>
                         <div class="showmore">
                                展开<i class="iconfont icon-right"></i>
                            </div>
                    </div>
                    <p class="goods-text">
                    </p>
                </div>
                <div class="goods-images">
                    <div class="images">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="payment-bar">
        <div class="left">
            <a class="item" href="../index.html">
                <i class="iconfont icon-home"></i>
                <span>首页</span>
            </a>
            <div class="item">
                <i class="iconfont icon-cc-heart-o is-collect"></i>
                <span>收藏</span>
            </div>
            <div class="item">
                <i class="iconfont icon-weixin1 public-wx"></i>
                <span>客服</span>
            </div>
        </div>
        <div class="payment">
        </div>
    </div>

    <!-- 弹框部分 -->
    <div class="service-desc">
        <div class="head">
            <div class="title">服务说明</div>
            <i class="iconfont icon-close close-btn"></i>
        </div>
        <div class="detail-list">
            <div class="list-item">
                <i class="iconfont icon-dian"></i>
                <div class="desc-deatil">
                    <p>全国包邮</p>
                    <p class="desc">商家承诺所有商品包邮（偏远地区除外）</p>
                </div>
            </div>
            <div class="list-item">
                <i class="iconfont icon-dian"></i>
                <div class="desc-deatil">
                    <p>7天无理由退货</p>
                    <p class="desc">满足相应条件时，消费者可申请7天无理由退货</p>
                </div>
            </div>

            <div class="list-item">
                <i class="iconfont icon-dian"></i>
                <div class="desc-deatil">
                    <p>假一赔十</p>
                    <p class="desc">若收到商品是假冒品牌，可获得十倍现金券赔偿</p>
                </div>
            </div>


        </div>
    </div>

    <div class="comment-wrapper">

        <div class="header" id="comment-header">
            <div class="header-bar">
                <button type="button" class="iconfont icon-right public-back"></button>
                <span class="page-title">商品评论</span>
            </div>
        </div>
        <div class="comment-list goods-comments">
            <div class="content">
                <div class="content-item">
                    <div class="head">
                        <div class="avatar">
                            <img src="../temp-images/avatar.jpg" alt="">
                            <span class="name">极简</span>
                        </div>
                        <div class="date">2020-03-11 13:25</div>
                    </div>
                    <div class="comment">
                        宝贝很满意，顺丰的小哥也给力，两天就到了带着挺有感觉的，很有派非常不错的机械表，时尚大方。推荐大家购买。款式很潮质量也不错客服态度很好快递也快赞一个很不错高档大方，物流快！
                    </div>
                    <div class="comment-imgs">
                        <div class="img-item"><img src="../temp-images/comm1.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm3.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm3.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm4.jpg" alt=""></div>
                    </div>
                </div>
                <div class="content-item">
                    <div class="head">
                        <div class="avatar">
                            <img src="../temp-images/avatar.jpg" alt="">
                            <span class="name">极简</span>
                        </div>
                        <div class="date">2020-03-11 15:11</div>
                    </div>
                    <div class="comment">
                        宝贝很满意，顺丰的小哥也给力，两天就到了带着挺有感觉的，很有派非常不错的机械表，时尚大方。推荐大家购买。款式很潮质量也不错客服态度很好快递也快赞一个很不错高档大方，物流快！
                    </div>
                    <div class="comment-imgs">
                        <div class="img-item"><img src="../temp-images/comm1.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm3.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm3.jpeg" alt=""></div>
                        <div class="img-item"><img src="../temp-images/comm4.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="select-goodsvalue">
       <div class="head">
        <div class="goodsinfo">
        </div>
        <i class="iconfont icon-close" id="select-close"></i>
       </div>
        
       <div class="content">
        <div class="select-value">
            <p class="title">款式</p>
            <ul>
            </ul>
        </div>
        
        <div class="buynum">
            <p class="title">购买数量 <span>（限购5件）</span></p>
            <div>
                <button id="decrease"><i class="iconfont icon-jian"></i></button>
                <input type="text" readonly value="1" id="buynumber">
                <button id="increase"><i class="iconfont icon-jia"></i></button>
            </div>
        </div>
       </div>

       <div class="btn">
        <a class="submit-btn" href="../order/order.html">确定</a>
       </div>
    </div>
</body>

</html>
<script src="__HOME__/public/lib/swiper/swiper.js"></script>
<script src="__HOME__/public/js/public.js"></script>

<script src="__HOME__/goodsdetail.js"></script>

<script>
    // 轮播
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
        },
        observer:true
      })
</script>