<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
        <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/goodsdetail.css">
    <title>商品详情</title>
</head>

<body>
    <div class="header" id="page-header">
        <div class="header-bar">
            <a href="/" class="iconfont icon-right"></a>
            <span class="page-title">商品详情</span>
        </div>
    </div>

    <div class="wrapper">
        <div class="main">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="goods-info">
                <div class="promotion">                 
                </div>
                <div class="goods-desc">
                </div>
                <div class="service" id="show-service">
                </div>
                <div class="goods-comments" id="show-comment">                   
                </div>
                <div class="goods-detail">
                    <div class="title"><i class="iconfont icon-sanjiaoxing"></i>商品详情</div>
                    <div class="goods-value">
                       <ul class="value-list"></ul>
                    </div>
                    <p class="goods-text">
                    </p>
                </div>
                <div class="goods-images">
<!--                    <div class="images">-->

<!--                    </div>-->
                </div>
            </div>

        </div>
    </div>
    <div class="payment-bar">
        <div class="left">
            <a class="item" href="/">
                <i class="iconfont icon-home"></i>
                <span>首页</span>
            </a>
            <div class="item">
                <i class="iconfont icon-cc-heart-o is-collect"></i>
                <span>收藏</span>
            </div>
            <div class="item">
                <i class="iconfont icon-weixin1 public-wx"></i>
                <span>客服</span>
            </div>
        </div>
        <div class="payment">
        </div>
    </div>

    <!-- 弹框部分 -->
    <div class="service-desc">
        <div class="head">
            <div class="title">服务说明</div>
            <i class="iconfont icon-close close-btn"></i>
        </div>
        <div class="detail-list">
        </div>
    </div>

    <div class="comment-wrapper">

        <div class="header" id="comment-header">
            <div class="header-bar">
                <button type="button" class="iconfont icon-right public-back"></button>
                <span class="page-title">商品评论</span>
            </div>
        </div>
        <div class="comment-list goods-comments">
            <div class="content">
            </div>
        </div>
    </div>

    <div class="select-goodsvalue">
       <div class="head">
        <div class="goodsinfo">
        </div>
        <i class="iconfont icon-close" id="select-close"></i>
       </div>
        
       <div class="content">
        <div class="select-value">
            <p class="title">款式</p>
            <ul>
            </ul>
        </div>
        
        <div class="buynum">
            <p class="title">购买数量 <span>（限购5件）</span></p>
            <div>
                <button id="decrease"><i class="iconfont icon-jian"></i></button>
                <input type="text" readonly value="1" id="buynumber">
                <button id="increase"><i class="iconfont icon-jia"></i></button>
            </div>
        </div>
       </div>

       <div class="btn">
        <a class="submit-btn">确定</a>
       </div>
    </div>
</body>

</html>
<!--产品数据-->
<script id="service" type="application/json">{:json_encode($service)}</script>
<!--产品数据-->
<script id="goods" type="application/json">{:json_encode($goods)}</script>
<!--评论数据-->
<script id="comment" type="application/json">{:json_encode($comment)}</script>
<!--收藏 -->
<script id="favorite" type="application/json">{:json_encode($favorite)}</script>
<script src="__HOME__/public/lib/swiper/swiper.js"></script>
<script src="__HOME__/public/js/public.js"></script>

<script src="__HOME__/js/goodsdetail.js"></script>

<script>
    // 轮播
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
        },
        observer:true,
        
      })
</script>