
<div class="public-backdrop-white">

    <!--  搜索  -->
    <div class="public-search">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_id"  placeholder="请输入用户ID" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--  内容   -->
    <div class="public-content">
        <div class="public-column-bottom-10">
            <button class="layui-btn public-btn-sm upload" >更新缓存</button>
        </div>
        <div class="public-content-table">
            <table class="layui-hide" id="content" lay-filter="content"></table>
        </div>

    </div>

</div>

<!--<script src="__ADMIN__/js/userlogin.js"></script>-->
<script>
    layui.use(['form', 'layer', 'table'], function() {
        var layer = layui.layer,
            form = layui.form,
            table = layui.table;

        //提交地址
        var public_url = $.Public.url + 'useraddress/';

        var tableIns = table.render({
            elem: '#content'
            ,where:{request:200}
            , url: public_url + 'index.html'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'useraddress_id', width: 80, title: 'ID', sort: true}
                , {field: 'user', width: 140, title: '用户名称'}
                , {field: 'user_id', width:100, title: '用户ID'}
                , {field: 'username', width: 120, title: '收货人'}
                , {field: 'tel', width: 120, title: '手机号码'}
                , {field: 'area', width: 180, title: '所在地区'}
                , {field: 'adder', width: '', minWidth:180, title: '详情地址'}
                , {field: 'create_time', width: 170, title: '添加时间'}
            ]]
            , limit: 10
            , page: true
        });

        //搜索
        form.on('submit(search)',function(data){
            var field = data.field;
            field.request = 200;
            tableIns.reload({
                where:field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });


        $('.upload').on('click',function () {
            $.Public.post({
                type: 'post',
                url: public_url + 'uploadselect.html',
            })
        });

    })
</script>