<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/editpass.css" />
    <title>手机绑定</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <form class="edit-form">
          <div class="form-item">
            <label for="telnum">手机号码</label>
            <input type="text" id="telnum" placeholder="请输入11位的手机号码"/>
          </div>

          <button type="button" class="confirm-btn">确认提交</button>
        </form>
      </div>
    </div>


  </body>
</html>

<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/js/bindmobile.js"></script>