    <meta charset="UTF-8" />
    <meta name="viewport"
    	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 公共引入文件 -->
	{include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/myorder.css">
    <title>我的订单</title>
    </head>

    <body>
    	<div class="wrapper">
    		<header class="header">
    			<div class="header-bar">
    				<button type="button" class="iconfont icon-right public-back"></button>
    				<span class="page-title">我的订单</span>
    			</div>
    		</header>
    		<nav class="order-nav">
    			<ul>
    				<li class="active" >全部</li>
    				<li>待发货</li>
    				<li>待收货</li>
    			</ul>
    		</nav>
    		<main class="main">
    			<ul class="order-list active" id="total">
    				<li class="list-item">
    					<a href="/home/order/orderdetail.html">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>
					<li class="list-item">
    					<a href="#">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>
					<li class="list-item">
    					<a href="#">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>
					<li class="list-item">
    					<a href="#">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
    				</li>
				</ul>
				
				<ul class="order-list" id="not-delivery">
    				<li class="list-item">
    					<a href="/home/order/orderdetail.html">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>
					<li class="list-item" id="delivery">
    					<a href="#">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>
				</ul>
				
				<ul class="order-list" id="delivery">
    				<li class="list-item">
    					<a href="/home/order/orderdetail.html">
    						<img src="__HOME__/temp-images/img2.jpeg" alt="">
    						<div class="order-info">
								<p class="name">动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表飞克正品全自动机械手表男士时尚潮流防水曲弧面超薄休闲真皮腕表</p>
								<div class="price">
									<span>￥499</span>
									<span>× 1</span>
								</div>
								<p class="tips">卖家已发货</p>
							</div>
    					</a>
					</li>

    			</ul>
    		</main>
       
       
      </div>
    </body>
</html>
<script id="data" type="javascript/json">{:json_encode($data)}</script>
<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/js/myorder.js"></script>