<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/orderdetail.css">
    <title>订单详情</title>
  </head>
  <body>
    <div class="wrapper">
        <main class="main">
            <section class="order-status" id="delivery-copy">
                <p class="status">已发货</p>
                <p class="info">物流信息： 嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎</p>
                <p class="delivery-num">快递单号： 123456789</p>
            </section>

        <section class="client-detial">
            <i class="iconfont icon-iconfontdingwei"></i>
            <div class="detail">
                <p class="username">吴先生 <span>137****3333</span></p>
                <p class="address">广东省广州市白云区123123广东省广州市白云区123123</p>
            </div>
        </section>

        <section class="goods-detail">
            <img src="../temp-images/img2.jpeg" alt="">
            <div class="name">
                <p class="goodsname">飞克正品手表飞克正品手表飞克正品手表飞克正品手表飞克正品手表</p>
                <p class="goodstype">蓝色表盘</p>
            </div>
            <div class="price">
                <p>￥499</p>
                <p>×1</p>
            </div>
        </section>

        <section class="order-price">
            <div class="top">
                <div>
                    <p>订单金额：</p>
                    <p>￥499.00</p>
                </div>
                <div>
                    <p>运费：</p>
                    <p>货到付款</p>
                </div>
            </div>
            <div class="bottom">
                <p>实付金额：</p>
                <p>￥499</p>
            </div>
        </section>

        <section class="order-info">
            <ul>
                <li class="info-item">
                    <span>下单时间</span>
                    <span>2020-03-12 12:12:12</span>
                </li>
                <li class="info-item">
                    <span>付款时间</span>
                    <span>2020-03-12 12:12:12</span>
                </li>
                <li class="info-item">
                    <span>订单编号</span>
                    <span>2020-03-12 12:12:12</span>
                </li>
            </ul>
        </section>
        </main>
        <section class="service-btns">
            <button type="button" class="public-wx">联系客服</button>
            <!-- <button type="button" id="toAfterSale">申请售后</button> -->
            <a href="/mine/aftersale.html">申请售后</a>
        </section>
    </div>

  </body>
</html>
<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/js/orderdetail.js"></script>