<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/orderconfirm.css">
    <title>订单详情</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <span class="page-title">商品订单</span>
        </div>
        <div class="main">
            <div class="head">
                <p>购买成功</p>
                <i class="iconfont icon-check1"></i>
            </div>
            <div class="order-info">
                <p class="order-id">订单编号：12134588411</p>
                <p class="date">购买日期：2020-03-23 16:58:26</p>
            </div>
            <div class="btns">
                <a href='/'>返回首页</a>
                <a href="/home/order/orderdetail.html">查看订单</a>
            </div>
            <div class="wx-info">
                <div class="title">
                    <p>相关信息请联系微信客服</p>
                    <p id="wx-id">客服ID：<span>wx12488541</span></p>
                </div>
                <div class="qrcode">
                    <img src="__HOME__/temp-images/qrcode.gif" alt="">
                </div>
            </div>
            <div class="tips">
                <p>注意：<span class="info">如您需要发票，请您在收货确认无误三个月内联系在线客服，申请开具发票。</span></p>
            </div>
        </div>
    </div>
</body>
</html>
<script src="__HOME__/js/orderconfirm.js"></script>