<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/orderdetail.css">
    <title>订单详情</title>
  </head>
  <body>
    <div class="wrapper">
        <main class="main">
            <section class="order-status" id="delivery-copy">
            </section>

        <section class="client-detail">
            <i class="iconfont icon-iconfontdingwei"></i>
            <div class="detail">
               
            </div>
        </section>

        <section class="goods-detail">
            
        </section>

        <section class="order-price">
            
        </section>

        <section class="remark">
           
        </section>
        <section class="order-info">
            <ul>
               
            </ul>
        </section>
        </main>
        <section class="service-btns">
            <button type="button" class="public-wx">联系客服</button>
            <!-- <button type="button" id="toAfterSale">申请售后</button> -->
            <a href="/home/mine/aftersale.html">申请售后</a>
        </section>
    </div>

  </body>
</html>

<script type="javascript/json" id="data">{:json_encode($data)}</script>
<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/js/orderdetail.js"></script>