<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no" />
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
{include file="public/header"}

<link rel="stylesheet" href="__HOME__/css/order.css">
<title>确认订单</title>
</head>


<body>
  <div class="wrapper">
    <main class="main">
      <form action="javascript:;" id="form">
        <input type="hidden" name="address_id" value="" id="address_id" />
        <section class="address-info">
        </section>

        <input type="hidden" name="goods_value" value="" id="goods_value" />
        <section class="order-detail">
          <div class="goods-detail">
          </div>

          <div class="buynum">
            <p class="title">购买数量 <span>（限购5件）</span></p>
            <div>
              <button id="decrease"><i class="iconfont icon-jian"></i></button>
              <input type="text" readonly value="1" id="buynumber" name="buynum">
              <button id="increase"><i class="iconfont icon-jia"></i></button>
            </div>
          </div>
        </section>
        <section class="default">
          <p>货到付款</p>
          <i class="iconfont icon-check"></i>
        </section>

        <section class="remark-area">
          <label for="remark">备注：</label>
          <textarea name="remark" rows="3" placeholder="请输入内容"></textarea>
        </section>
      </form>
    </main>
    <div class="payment-bar">
      <div class="price">
       
      </div>
      <div class="payment-btn">
        <button type="button" id="toPay">立即支付</button>
      </div>
    </div>
  </div>
  <!-- 地址页 -->
  <div id="address-page">
    <div class="address-header">
      <div class="header-bar">
        <button type="button" class="iconfont icon-right address-back"></button>
        <span class="page-title">选择地址</span>
        <a href="/home/mine/editaddress.html" class="add-btn">添加新地址</a>
      </div>
    </div>

    <div class="address-content">
      <ul class="address-list">
      </ul>
    </div>
  </div>
</body>

</html>

<!--产品数据-->
<script id="goods" type="application/json">{:json_encode($goods)}</script>
<!--产品地址-->
<script id="useraddress" type="application/json">{:json_encode($useraddress)}</script>

<script src="__HOME__/js/order.js"></script>
<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/public/lib/weui-citypicker/addrData.js"></script>
<script src="__HOME__/public/lib/weui-citypicker/weui.min.js"></script>

<script>
  // 地址选择器
  $('#city-picker').on('click', function () {
    var _this = this;
    weui.picker(addrData, {
      onChange: function (result) {},
      onConfirm: function (result) {
        $(_this).val(result[0].label + result[1].label + result[2].label)
      }
    });
  });
</script>