.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  overflow-x: hidden;
}
/* header */

.header {
    height: 3rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #f6f6f6 ;
}
.header .header-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.header .header-bar button.icon-right {
    transform: rotate(180deg);
    font-size: 1.5rem;
}
.header .page-title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%,0);
}
.header .del-btn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate3d(-5%, -50%,0);
    color: #777;
    font-size: 0.8rem;
}
/* form */
.address-form{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.form-item {
    /* margin-bottom: 10px; */
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}

.form-item label {
    width: 30%;
}

.form-item input {
    width: 70%;
}
.form, ::-webkit-input-placeholder {
    font-size: 0.9rem;
}


.defaul
t {
  display: flex;
  align-items: center;
}
.default p {
  flex: 1;
}
.default #is_default {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.default label {
  background-color: #ccc;
  width: 50px;
  height: 26px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: background-color .2s linear;
}
.default label:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  transition: transform .2s linear;
}
#is_default:checked + label:before {
  transform: translateX(24px);
}
#is_default:checked+label {
  background-color: #ee2d2d;
}

/* confirm-btn */
.submit-btn {
    margin: 3rem auto;
    width: 92%;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    background-color: #ee2d2d;
  }
  