<div class="public-backdrop-white">

    <!--  搜索  -->
    <div class="public-search">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username"  placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">会员名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="member_user"  placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="number" max="11" name="tel"  placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">号码不为空</label>
                    <div class="layui-input-inline layui-input">
                        <input type="radio" name="effective" value="" title="否" checked="">
                        <input type="radio" name="effective" value="1" title="是"">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--  内容   -->
    <div class="public-content">
        <!--    添加等操作    -->
        <div class="public-column-bottom-10">
            <button class="layui-btn public-btn-sm add" >创建新用户</button>
        </div>

        <div class="public-content-table">
            <table class="layui-hide" id="content" lay-filter="content"></table>
        </div>
        <script type="text/html" id="tel">
            {{#  if(d.tel != 0){ }}
                {{ d.tel }}
            {{#  } }} 
        </script>
        <script type="text/html" id="initial_pass">
            {{#  if(d.initial_pass != 0){ }}
                {{ d.initial_pass }}
            {{#  } }} 
        </script>
        <script type="text/html" id="sex">
            {{#  if(d.sex == 1){ }}
                男
            {{#  } else { }}
              女
            {{#  } }} 
        </script>
        <script type="text/html" id="barDemo">
            <a href="javascript:;" class="layui-btn layui-btn-xs modify" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改密码</a>
            <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>

    </div>

</div>
<script src="__ADMIN__/js/user.js"></script>
