<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 引入公共文件 -->
    {include file="public/header"}
    
    <link rel="stylesheet" href="__HOME__/css/aboutus.css">
    <title>关于我们</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
       {$data | raw}
      </div>
    </div>
  </body>
</html>
<script src="__HOME__/public/js/public.js"></script>
