<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 引入公共文件 -->
    {include file="public/header"}
    
    <link rel="stylesheet" href="__HOME__/css/aboutus.css">
    <title>关于我们</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h3>关于我们</h3>
        <div>
          <h4>关于准时抢</h4>
          <ul>
            <li>
              <p>一、准时抢简介</p>
              <p class="text">准时抢（zsqvip.com）是以优质时尚、需求专供为网站定位的大型B2C电子商务购物平台；准时抢商城销售商品类别主要集中个人护肤品，通过向用户表达好东西需要抢购的购物理念，致力于构建国内颇具影响力的定制化综合性购物商城。准时抢商城让每位用户在购物的同时，享受个性化、贴心的服务，以购物需求为前提，让准时抢购物成为个人的商城。我们将为您展示符合您的商品，让购物不再盲从！</p>
            </li>
            <li>
              <p>二、定制化服务，优质供应链</p>
              <p class="text">
                准时抢商城拥有专业团队专为线上用户购物习惯提供量身定制的线上转销货品，我们定期举行全国各个城市的调查问卷，深层次了解用户购物需求。产品部门将根据统计信息进行货品研发、设计、生产、零售。保障用户购物需求，定制化服务！
              </p>
            </li>
            <li>
              <p>三、优质服务承诺</p>
              <p class="text">
                1、正品保障
                <span>诚信为本，保障正品</span>
              </p>
              <p class="text">
                2、全国包邮（港澳台除外）
                <span>提供全国（港澳台除外）包邮服务，优选快速物流方式。</span>
              </p>
              <p class="text">
                3、七天无理由退换货
                <span>消费者在准时抢平台购物享受七天无理由退换货保障。</span>
              </p>
              <p class="text">
                4、十五天温馨售后
              </p>
              <p class="text">
                5、全年正常工作日全面服务
                <span>为消费者提供全年正常工作日优质服务（工作时间：9:00至20:00）</span>
              </p>
            </li>
          </ul>
        </div>

        <div>
          <h4>联系我们</h4>
          <ul>
            <li>服务热线：400*******</li>
            <li>客服邮箱：****@qq.com</li>
            <li>
              <p>工作时间：
                <span>在线客服：正常工作日 9:00至18:00</span>
                <span>电话热线：正常工作日 9:00至20:00</span>
                <span>微信客服：正常工作日 准时抢商城客服（二维码）</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="__HOME__/public/js/public.js"></script>
