<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 引入公共文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/aftersale.css">
    <title>退款/售后</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h3>售后服务</h3>
        <ul>
          <li> 
            <h4>一、退换货承诺：</h4>
            <p>准时抢退换货服务三大优势：</p>
            <div>
              <p>A.自您签收商品之日起7天内，准时抢商城为您提供退换货服务；</p>
              <p>B.退货、换货时质检商品承诺在3个工作日内完成，做到快速质检服务；</p>
              <p>C.退款工作承诺一周工作日内执行完成，做到购物退货退款无顾虑。</p>  
            </div>
          </li>

          <li> 
            <h4>二、准时抢退换货服务标准：</h4>
            <div>
              <p>
                A.准时抢承诺7天无理由退换货服务（自签收日起7天内）；
                  <span>（1）商品不合适可退、换；</span>
                  <span>（2）商品款式、颜色等不满意可退、换；</span>
                  <span>（3）商品配送错误可退、换；</span>
              </p>
              <p>B.7天后准时抢将按照商品规定，为您提供售后三包服务；</p>
              <p> 注：图片以及信息仅供参考。因拍摄灯光及不同设备显示等问题可能造成商品图片与实物有一定色差，不属于质量问题，请以实物为准。</p>
            </div>
          </li>

          <li> 
            <h4>三、以下情况将不提供退换货服务：</h4>
            <div>
              <p>A.任何非准时抢商城正常渠道购买的商品；</p>
              <p>B.超过三包期限的商品；</p>
              <p>C.超过准时抢商城承诺的7天无理由退换货有效时间（产品质量问题除外）；</p> 
              <p>D.商品相关附件、保修单、保修卡、吊牌、发票（若开具发票）、赠品等不完整，商品或外包装损坏；</p> 
              <p>E.因非正常使用，保养贮存不当，造成的商品损坏（如污损、自行维修、修改加工、洗涤等）；</p>
            </div>
          </li>

          <li> 
            <h4>四、退换货注意事项或相关运费须知：</h4>
            <div>
              <p>A.商品寄回说明：在与准时抢客服中心确认退换货事宜后，请您务必在24小时内将商品通过快递的方式寄回准时抢售后中心；</p>
              <p>B.寄回商品须知：寄回时需确保商品外包装、内附配件齐全。</p>
              <p>C.商品寄回快递方式说明：准时抢退换货快递费用需由用户垫付给快递公司，拒绝签收到付返回的商品；</p>
              <p>D.退换货退运费说明：订单金额满99元，我们将免运费退换货，订单金额不足99元，我们将从您的退货款中扣除12元以作运费；</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
<script src="__HOME__/public/js/public.js"></script>
