<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/mine.css">
    <title>个人中心</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="client-info">
                <!-- <div class="avatar"><img src="__HOME__/temp-images/avatar/ava2.png" alt=""></div>
                <div class="client-name">
                淘淘会员_3253589
                </div> -->
            </div>
            <a class="edit-btn" href="/home/manage/manage.html">
                <i class="iconfont icon-xitong"></i>
            </a>
        </div>

        <div class="main">
            <div class="service-bar">
                <a class="head" href="../order/myorder.html">
                    <span>我的订单</span>
                    <div class="check-more">
                        <span>查看全部</span>
                        <i class="iconfont icon-right"></i>
                    </div>
                </a>
                <div class="bar-list">
                    <a class="item" href="../order/myorder.html#not-delivery">
                        <i class="iconfont icon-daifahuo"></i>
                        待发货
                    </a>
                    <a class="item" href="../order/myorder.html#delivery">
                        <i class="iconfont icon-daishouhuo"></i>
                        待收货
                    </a>
                    <a class="item" href="./aftersale.html">
                        <i class="iconfont icon-tuikuan"></i>
                        退款/售后
                    </a>
                </div>
            </div>

            <div class="service-list">
                  <div class="list-item">
                      <a class="item" href="./mycollect.html">
                          <span>我的收藏</span>
                          <i class="iconfont icon-right"></i>
                      </a>
                      <a class="item" href="./myaddress.html">
                          <span>我的地址</span>
                          <i class="iconfont icon-right"></i>
                      </a>
                      <div class="item public-wx">
                          <span>客服微信</span>
                          <i class="iconfont icon-right"></i>
                      </div>
                      <a class="item" href="./aboutus.html">
                        <span>关于我们</span>
                        <i class="iconfont icon-right"></i>
                    </a>
                  </div>
            </div>
        </div>
    </div>


    <div class="nav-fixed">
        <div class="nav">
            <a href="/" class="nav-btn"> <i class="iconfont icon-xianshi"></i> 限时抢购</a>
            <a href="#" class="nav-btn active"> <i class="iconfont icon-mine"></i> 个人中心</a>
        </div>
    </div>
</body>

</html>
<script src="__HOME__/public/js/public.js"></script>
<script src="__HOME__/js/mine.js"></script>