<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 公共引入文件 -->
    {include file="public/header"}

    <link rel="stylesheet" href="__HOME__/css/mycollect.css" />
    <title>我的收藏</title>
</head>

<body>
    <div class="wrapper">
        <ul class="list">
            <li>
                <a href="#">
                    <img src="__HOME__/temp-images/img2.jpeg" alt="">
                    <div class="price">
                        <span>￥499</span>
                        <span>￥899</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__HOME__/temp-images/img2.jpeg" alt="">
                    <div class="price">
                        <span>￥499</span>
                        <span>￥899</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__HOME__/temp-images/img2.jpeg" alt="">
                    <div class="price">
                        <span>￥499</span>
                        <span>￥899</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__HOME__/temp-images/img2.jpeg" alt="">
                    <div class="price">
                        <span>￥499</span>
                        <span>￥899</span>
                    </div>
                </a>
            </li>
        </ul>
        
    </div>

</body>
</html>
<script type="javascript/json" id="data">{:json_encode($data)}</script>
<script src="__HOME__/js/mycollect.js"></script>
<script src="__HOME__/public/js/public.js"></script>